---
import "~/styles/globals.css";
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="/favicon-light.png"
      media="(prefers-color-scheme: light)"
      type="image/png"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="/favicon-dark.png"
      media="(prefers-color-scheme: dark)"
      type="image/png"
      sizes="32x32"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro SSR Demo</title>
  </head>
  <body
    class="min-h-screen bg-neutral-950 font-sans text-neutral-100 antialiased"
  >
    <slot />
  </body>
</html>
